nav >ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 10px;
    padding: 5px;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li:hover{
    background-color: rgb(3, 245, 164);
}
nav li .dropdown{
    display: none;
    position: absolute;
    background-color: antiquewhite;
    padding-left: 10px;
}
nav li:hover .dropdown{
    display: block;
}