*{
    /* border: 15px;
    border-color: blue;
    background-color: rgb(6, 243, 164);
    height: 40px; */
    margin: 0px;
    /* border: 10px; */
    /* border-radius: 10px 10px 10px 0px; */
    /* border-color: blue; */
    padding: 10px;
}
.cla{
    background-color: brown;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
}
#ed{
    background-color: rgb(6, 243, 164);
    border-radius: 0px 0px 10px 0px;
}